/* Resets */

* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Balsamiq Sans', cursive;
    background-color:  #F3D8D3;
    margin: 20px;
    border-radius: 25px;
    font-size: 16px;
}

#app {
    padding: 20px;
    border: 1px solid #FFF6E3;
}

.list {
    list-style-type:none;
    text-align: center;
    padding-left: 0;
    word-wrap: break-word;
}

.list li {
    border: 1px solid #FFF6E3;
    padding: 10px;
}

.list li a i {
    color: #836452;
    transition: 0.4s;
}

.list li a i:hover {
    color: #ff0000aa;
}


.fa-trash {
    margin-left: 10px;
}

.container {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.container button,
.container input {
    width: 140px;
    height: 40px;
    font-family: 'Balsamiq Sans', cursive;
    border-radius: 50px;
    font-size: 15px;
    outline: 0;
}

.container button {
    background-color: #C23B23;
    color: white;
    border: none;
    font-weight: bold;
    transition-duration: 0.4s;
}

.container button:hover,
.container button:active {
    background-color: #611E12;
}

.container input {
    width: 200px;
    padding-left: 50px;
    margin: 10px;

    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
}

/* Responsividade */
@media (min-width: 700px){
    body {
        font-size: 22px;
    }
    .container button,
    .container input {
        width: 200px;
        height: 50px;
        font-size: 20px;

    }
    .container input {
        width: 500px;
    }
}

@media (min-width: 700px) and (min-height: 1000px){
    body {
        font-size: 30px;
    }

    .container button,
    .container input {
        width: 300px;
        height: 70px;
        font-size: 30px;

    }
    
    .container input {
        width: 500px;
    }
}

@media (min-width: 1000px) and (min-height: 1000px){
    body {
        font-size: 40px;
    }

    .container button,
    .container input {
        width: 300px;
        height: 80px;
        font-size: 40px;

    }

    .container input {
        width: 500px;
    }
}

/* Footer at the bottom */
/* Mostly: http://ryanfait.com/sticky-footer/ */
#app {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -130px; 
}

#app:after {
    content: "";
    display: block;
}

footer, #app:after {
    /* .push must be the same height as footer */
    height: 130px; 
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
}